body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #e9ebee;
}

img {
  padding: 0px;
}

header {
  display: block;
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  background: #4267b2;
}

.header {
  margin: 0 auto;
  display: flex;
}

.space-between {
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.perfil {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.post {
  background: #fff;
  border-radius: 10px;
  border: 2px solid #e9ebee;
  padding: 20px;
  margin: 20px;
}

.photo {
  display: flex;
}

.photo-name {
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: space-between;
}

.photo-user {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #414a4c;
}

.photo-date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #999999;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.divider {
  border: 1px solid #f7f7f7;
}

.comment {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment .text {
  margin-left: 20px;
  background: #eeeeee;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
}

.comment .author {
  font-weight: bold;
}
